<h1> Student Search </h1>
<%= form_tag students_path :method => "get" do %>
    <%= label_tag(:query, "Search for:")%>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag ("Search") %>
    <% end %>
